/* Reset and base */
body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background: #fff;
  color: #333;
}

/* Top header */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #f8f8f8;
}
.image_event_link{
  align-self: center;
}
.logo {
  font-weight: 700;
  font-size: 24px;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.icons span {
  margin-left: 10px;
  cursor: pointer;
}

/* Navigation */
.main-nav {
  background: #111;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 30px;
  display: flex;
  gap: 20px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 40px 20px;
  background: #f2f2f2;
}

.hero-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Events */
.events {
  padding: 40px 30px;
}

.event-grid {
  display: flex;
  gap: 20px;
}

.event-box {
  flex: 1;
  /*padding: 20px; */
  background: #dad9d9;
  text-align: center; 
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event-box img {
width: 90%;
  max-height: 400px;
  object-fit: cover;
  align-self: center;
  padding: 10px;
}
.upcoming_event_image {
  width: 70%;
  max-height: 400%;
  object-fit: cover;
  align-self: center;
  padding: 10px;
}
/* Trustees */
.showcase {
  padding: 40px 30px;
  background: #fafafa;
}

.showcase-grid {
  display: flex;
  gap: 20px;
}

.showcase-card {
  flex: 1;
  height: 150px;
  background: #ddd;
  text-align: center;
  border-radius: 6px;
  padding-top: 60px;
}

/* Footer */
.footer {
  background: #111;
  color: white;
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
}

.footer div {
  width: 45%;
}
.more_events {
  background-color: #676d67; /* Green background */
  color: #fff;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s ease; 
}

.more_events:hover {
  background-color: #3e8e41; 
}
