/**
* inherit base styles from index.css
**/

@import url('./index.css');

/**
* global variables.
**/

:root {
  --blue: #0056b3;
  --white: #fff;
  --off-white: #f9f9f9;
}

/**
* page specific styles.
**/

.board-of-trustees {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6rem;
}

.board-of-trustees .hero {
  padding: 72px 20px;
}

.board-of-trustees .hero h2 {
  font-size: 2.2rem;
  margin-bottom: 4px;
}

.board-of-trustees .hero p {
  color: #777;
}

.board-of-trustees .container p,
.board-of-trustees .container li {
  color: #777;
}

.board-of-trustees hr {
  background: #ddd;
  border: none;
  height: 1px;
}

.card {
  background: var(--white);
  padding: 16px 32px 24px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.board-of-trustees .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  padding: 40px 40px;
  max-width: 1600px;
}

.trustee-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.board-of-trustees .trustee-card {
  background: var(--off-white);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  margin-top: 16px;
}

.board-of-trustees .trustee-card img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--white);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.board-of-trustees .trustee-card h3 {
  margin: 10px 0 5px;
  color: var(--blue);
}

.board-of-trustees .trustee-card p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.4rem;
  color: #555;
}

.board-of-trustees .trustee-card .title {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.board-of-trustees li {
  line-height: 1.9rem;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  max-width: 400px;
  margin: 0 auto;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  transform: translateX(-50%);
  /* animation: marquee 15s linear infinite; */
}


/**
* scrolling animation.
**/

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}